@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols+2&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* font-family: 'Noto Sans Symbols 2', sans-serif; */
    background-color: #996e89;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;

    #title {
        font-family: 'Dancing Script', cursive;
        font-size: 3rem;
        margin-bottom: 5rem;
        text-transform: uppercase;
        text-align: center;
        font-weight: 900;
        letter-spacing: 4px;
        background: linear-gradient(to bottom right, #ff6b6b 20%, #ffd93d, #6bffa2, #4d88ff, #a64dff, #ff6bd6 80%);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-size: 200% 200%;
        animation: gradient-animation 5s linear infinite;
    }

    #status {
        font-size: 2rem;
        margin-bottom: 5rem;
        text-transform: uppercase;
        text-align: center;
        font-weight: 800;
        letter-spacing: 4px;

        background: linear-gradient(to bottom right, #ff6b6b 20%, #ffd93d, #6bffa2, #4d88ff, #a64dff, #ff6bd6 80%);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-size: 200% 200%;
        animation: gradient-animation 5s linear infinite;
    }

    #choose-player {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        text-align: center;
        font-family: 'Dancing Script', cursive;

        .player {
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            font-size: 1.5rem;
            margin: 0 10px;

            button {
                padding: 14px 20px;
                border: none;
                cursor: pointer;
                font-size: 1.5rem;
                margin: 0 10px;

                &:hover {
                    background-color: #27e456;
                }
            }
        }
    }

    #grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        list-style: none;
        padding: 0;
        margin: 0;

        .cell {
            width: 100px;
            font-family: 'Noto Sans Symbols 2', sans-serif;
            height: 100px;
            font-weight: 900;
            background-color: #f0f0f0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 3rem;
            cursor: pointer;
        }
    }

    #btn-reset {
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #f0f0f0;
        border: none;
        cursor: pointer;
        font-size: 1.5rem;

        &:hover {
            background-color: #e0e0e0;
        }
    }
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: -0% -0%;
    }
}
