@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols+2&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #996e89;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;

    #title {
        font-size: 3rem;
        margin-bottom: 5rem;
        text-transform: uppercase;
        text-align: center;
        font-weight: 800;
        letter-spacing: 4px;
        color: chartreuse;
    }

    #status {
        font-size: 2rem;
        margin-bottom: 5rem;
        text-transform: uppercase;
        text-align: center;
        font-weight: 800;
        letter-spacing: 4px;

        animation-name: finish;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }

    #grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        list-style: none;
        padding: 0;
        margin: 0;

        .cell {
            width: 100px;
            font-family: 'Noto Sans Symbols 2', sans-serif;
            height: 100px;
            font-weight: 900;
            background-color: #f0f0f0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 3rem;
            cursor: pointer;
        }
    }

    #btn-reset {
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #f0f0f0;
        border: none;
        cursor: pointer;
        font-size: 1.5rem;

        &:hover {
            background-color: #e0e0e0;
        }
    }
}

@keyframes finish {
    0% {
        color: rgb(55, 235, 55);
    }
    33% {
        color: rgb(255, 42, 42);
    }
    66% {
        color: rgb(243, 255, 70);
    }
    100% {
        color: rgb(55, 235, 55);
    }
}
